#nav-menu{
    width: auto;
    height: 135px;
    margin: auto;
}
#nav-menu ul,li{
    list-style: none;
    margin: 20px;
    float: left;
    position: relative;
    left:230px;
    bottom: 20px;
}
#nav-menu ul,li,a{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    text-transform: capitalize;
}
#nav-menu a:hover{
    text-decoration: underline;
}
.text12{
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-weight: lighter;
}